.terms-wrapper {
    padding: 2.5rem 0 3rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .75rem;
    align-items: flex-start;
}

.checkbox-wrapper {
    position: relative;

    gap: 0.25rem;

    & [type="checkbox"] {
        all: unset;
        position: absolute;
        inset: 0;
    }

    .checkbox-image {
        flex: 0 0 1.5rem;

        width: 1.4rem;
        height: 1.5rem;
        background-repeat: no-repeat;
        background-image: url(/images/svg/Frame-no-check.svg);
    }
}
.terms-inner{
    position: relative;

    &:has(:checked) .checkbox-image {
        background-image: url(/images/svg/Frame-check.svg);
    }
}