@import url(input.css);
@import url(selecarea.css);
@import url(radio.css);
@import url(checkbox.css);

input {
    color: var(--text-body);
    &[disabled] {
        background-color: var(--shape-background);

        border: 1px solid var(--shape-background);

        color: var(--text-body);
    }

    &:invalid {
        border: 0.125rem solid var(--danger);
    }

    &[required]+.error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--body-xs);
        color: var(--danger);

        margin-top: .25rem;
    }

    &:not(:focus):valid+.error {
        display: none;
    }
}

fieldset {
    padding-bottom: 3rem;
}

.terms-wrapper {
    border-top: 1px solid var(--input-stroke);
}

.invitation {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    padding-bottom: 5rem;

    .submit-button {
        background-color: var(--brand-light);
        color: var(--text-heading);
        font: var(--body-md);
        border-radius: .5rem;
        cursor: pointer;
        padding: 0.75rem 1.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        transition: background-color 0.2s ease;
    }
    .submit-button:hover{
        background-color: var(--brand-dark);
    }
}