#app {
    display: flex;
    justify-content: center;
    

    height: 100vh;
    overflow: hidden;
}

main {
    overflow: auto;
    padding: 1rem;

    & .main-container {
        background-color: var(--input-base);
        width: 820px;
        padding: 0 8.1rem;
        border-radius: 1rem;

        & h1{
            font: var(--heading-md);
            padding-top: 5rem;
            color: var(--text-heading);
        }
    }
    & .legend-event{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        gap: 8px;
        color: var(--text-heading);
        & img{
            width: 24px;
            height: 24px;
        }
    }
}


aside {
    display: flex; 
    justify-content: flex-end;
    max-width: 25rem;
    max-height: 45rem;
    padding: 1rem 0 1rem 1rem;
    background-color: var(--shape-background);

    & .aside-container {
        

        background-color: var(--input-base);
        padding: 2rem;
        background-image: url('/images/Background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 20px;


    & img {
        width: 45px;
        height: 48px;
    }

    & h1 {
        font-size: 40px;
        font-family: var(--font-logo);
        color: var(--pink);
    }
    & p {
        font-family: var(--font-family);
        font-size: 16px;
        text-wrap: no-wrap;
        color: var(--text-heading);
    }

    }
}